@model LoginViewModel

@{
    ViewData["Title"] = "Login";
}

<h1 class="text-center">Login to Appointment System</h1>

<div class="row">
    <div class="col-md-4">

    </div>
    <div class="col-md-4">
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName">User Name</label>
                <span class="text-danger" asp-validation-for="UserName"></span>
                <input asp-for="UserName" class="form-control">
            </div>
            <div class="form-group">
                <label asp-for="Password">Password</label>
                <span class="text-danger" asp-validation-for="Password"></span>
                <input asp-for="Password" class="form-control">
            </div>

            <div class="form-group form-check">
                <input asp-for="RememberMe" type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" asp-for="RememberMe"></label>
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>
    <div class="col-md-4">

    </div>
</div>


